

.nitesh{
height: 100px;
width: 100px;
border: 2px solid red;
background-color: rgb(204, 25, 25);
display: flex;
justify-content: center;
align-items: center;
}
*{
    background-color: rgb(118, 118, 208);
}