.container {
    padding: 0;
    margin: 0;
    height: 300px;
    gap: 0.5px;
     display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:stretch;


}

.Nitesh {
    border:auto solid rgb(229, 229, 233);
    display: flex;
    flex-basis: 60px;

    

    background-color: rgb(229, 229, 233);

   

}

.singh {
    border:auto solid rgb(229, 229, 233);
   


    background-color: rgb(229, 229, 233);

    
}

.the {
    border: auto solid rgb(229, 229, 233);
   


    background-color: rgb(229, 229, 233);

    
}

.great {
    border: auto solid rgb(229, 229, 233);
   


    background-color: rgb(229, 229, 233);

    
}