.container{
    display: grid;
    text-align: center;
    font-family: Helvectica;
     grid-template-columns:2fr 5fr;
     grid-template-rows: 1fr 1fr 5fr 1fr;
     grid-template-areas: 
     "box-1 box-1"
     "box-2 box-3"
     "box-2 box-4"
     "box-5 box-5";
     gap: 15px;
     
    
}

.header{
    background-color: purple;
    height: auto;
    
    
    

    
}
.sidebar{
background-color: turquoise;

grid-row: 2/4;
height: auto;

}
.footer{
    background-color: yellow;
    
    width: auto;
    height: auto;
   
    
}
.navi{
    background-color: aquamarine;
   
    height: auto;
    
}
.article{
    background-color: blueviolet;
    

}